.page-1
  background-image: url("../images/page-1/background.png")
  background-repeat: no-repeat
  background-size: cover

  article
    position: absolute
    width: 730px
    line-height: 25pt
    text-align: right
    top: 50%
    right: 50px
    margin-top: -83px

